<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zx.zxboxlauncher">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>

    <!-- WindowManger 权限(浮动窗口)-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <!-- 禁止触摸屏 -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivityNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.zx.zxtvsettings.activity.NetSetting"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.EthernetActvity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.WifiActivity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.WIfiApActivity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.BluethoothActivity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.SpeedTestActivity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.AppUninstallActivity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.AboutActivity"></activity>
        <activity android:name="com.zx.zxtvsettings.activity.DisplayModeActivity"></activity>
        <activity android:name=".activity.MoreActivity"></activity>

        <activity
            android:name="com.zx.zxtvsettings.wifi.WifiConnectDailogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/PlatformDialog">

            <intent-filter>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.zx.wifi.connecter.action.CONNECT_OR_EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
    </application>

</manifest>